*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section
{
    width: 300px;
    height: 500px;
    background-color: rgb(235, 192, 53);
    border: 5px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    position: relative;

}
section .input
{
    /* border: 5px solid yellow;  */
    background-color: rgb(53, 149, 164);
    padding: 15px;
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    position: sticky;
    z-index: 55555;
    top: 66px;
    box-shadow: 0px 1px 0px 2px rgb(64 38 38 / 69%);

}
section  input
{
    height: 40px;
    width: 70%;
    border: none;
    outline: 2px solid rgb(57, 95, 126);
    color: rgb(7, 0, 7);
    border-radius: 5px;
    background-color: rgb(243, 241, 241);
   
}
section .input button
{
    height: 40px;
    width: 20%;
    background-color: rgba(242, 244, 240, 0.507);
    color: rgb(6, 6, 6);
    border-radius: 5px;
    letter-spacing: 1.5px;
    outline: none;
    border: none;
    font-weight: bold;
}
section .tasks
{
    /* border: 5px solid yellow; */
    padding: 10px;
    width: 97%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 100px;
    margin-top: 4px;
    margin-left: 4px;
    /* position: relative;
    top: 38px;
    left: -17px; */
    box-shadow: 0px 1px 0px 2px rgb(64 38 38 / 69%);
}
section .tasks button
{
    margin-left: 40px;
    font-size: 13px;
    background-color: rgba(196, 100, 237, 0.507);
    color: rgb(230, 42, 42);
    border-radius: 5px;
    letter-spacing: 1.5px;
    outline: none;
    position: sticky;
    z-index: 55554;
    border: none;
    font-weight: bold;
}

section .tasks span
{
    width: 60%;
    font-weight: bold;
    padding: 7px;
    color: rgb(255, 1, 255);
    /* display: flex;
    flex-wrap: nowrap;
    flex-direction: column; */
    
}
section .tasks button 
{
    height: 34px;
    width: 20%;
}
.bod
{
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.styl
{
    
    width: 550px;
    font-size: 21px;
    padding: 5px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #5f46eb99;
    background-color: rgb(248 248 28 / 41%);
    text-align: center;
    border-radius: 24px;
    box-shadow: 0px 1px 14px 3px #4444479e;
    transition-timing-function: ease-in-out;

}